@import url("https://fonts.googleapis.com/css?family=Oswald:400,500|Roboto:300&display=swap");
h1 {
    line-height: 1rem;
    font-size: 4rem;
    margin-bottom: 3rem;
    font-family: $ff-heading;
    color: $clr-heading;
}

p {
    font-weight: 400;
    font-family: $ff-body;
    color: $clr-text-dark;
    font-size: 1.2rem;
    line-height: 2rem;
    text-align: justify;
    margin-top: 1rem;
}