@import url("https://fonts.googleapis.com/css?family=Oswald:400,500|Roboto:300&display=swap");
h1 {
    font: 500 4rem/1rem $ff-heading;
    color: $clr-heading;
    margin-bottom: 3rem;
}

p {
    font: 400 1.2rem/2rem $ff-body;
    color: $clr-text-dark;
    text-align: justify;
    margin-top: 1rem;
}